<%- include('includes/head.ejs') %>

<body>


  

<%- include('includes/nav.ejs') %>


    <div class="container has-text-centered">
        

        <h1>404 page not found</h1>
       
    </div>

</body>

</html>