doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{PageTitle}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css')
    block headContent

  body
    style.
      .c-h{
      display: flex;
      justify-content: center;
      }
    .box
      nav.navbar(role='navigation' aria-label='main navigation')
        .navbar-brand
          a.navbar-item(href='https://bulma.io')
            img(src='https://bulma.io/images/bulma-logo.png' width='112' height='28')
        #navbarBasicExample.navbar-menu
          .navbar-start
            a.navbar-item(href='/' class=(path === 'shop-product' ? 'button mr-2 is-focused' : 'button mr-2'))
              | Shop
            a.navbar-item(href='/admin/add-product' class=(path === 'add-product' ? 'button is-focused' : 'button'))  Add products 

    block bodyContent        