



    <div class="container">
        <form action="/admin/add-product" class="form" method="POST">
        
        
            <h1 class="is-size-3 mt-4" style="text-align: center;">
                This is the admin page of shop
                
            </h1>
            <p class="is-size-4 mb-4 mt-4 has-text-centered">Here add more products</p>
            <input type="text" name="name" class="input">
            <div class="container c-h"><button class="button is-dark m-5" type="submit">submit</button></div>
        
        
        </form>
    </div>

</body>

</html>