
<%- include('includes/till_nav.ejs') %>

    <form action="/add" method="post">

        <input type="text" name="username" id="">

        <br>

        <button type="submit">submit</button>

    </form>


</body>

</html>

