<form action="/cart" method="post">

    <button type="submit" class="button is-primary is-active m-1 is-inline-block ">Add to cart</button>
    <input type="hidden" name="productId" value="<%=product.uuid%>" id="">


</form>